*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  padding: 100px;
}
/* #hero1{
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(20px);
  background-color: orangered;
  position: absolute;
}
#hero2{
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  background-color: orangered;
  animation-name: anime;
  animation-duration: 3s;
  animation-timing-function: linear ;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime {
  from{
    transform: translate(-10%,-10%);
  }
  to{
    transform: translate(10%,10%);
  }
} */

img{
  height: 400px;
  width: 600px;
}